.bookGenderCard {
  border-radius: 50px;
  width: 170px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  letter-spacing: 5px;
  font-size: 0.8em;
  color: white;
  background-size: cover;
  background-position: center;
  justify-content: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ffffff00;
    border-radius: 50px;
    backdrop-filter: blur(1px);
  }
  &__text {
    z-index: 1;
    text-shadow: 0 0 3px black;
  }
}
