<div class="userInformation d-flex">
  <div class="userInformation__informations d-flex flex-align-center">
    <app-user-avatar [avatarUrl]="'/images/avatars/avatar.png'" />
    <ul class="userInformation__informations__text d-flex flex-column">
      <li class="userInformation__informations__text__name">John Doe</li>
      <li>
        <app-user-points [points]="1000" />
      </li>
    </ul>
  </div>
  <div class="userInformation__actions d-flex">
    <div class="userInformation__actions__timer">
      <app-timer />
    </div>
    <div class="userInformation__actions__notification">
      <app-notifications />
    </div>
  </div>
</div>
