.@{btn-prefix-cls} {
  border: none;
  border-radius: 8px;
  &-secondary {
    background-color: @secondary-color;
    color: @white;
    & > * {
      text-align: center;
    }
    icon span {
      color: @white !important;
    }
    &.active {
      background-color: @white;
      color: @secondary-color;
      border: 2px solid @secondary-color;
      icon span {
        color: @secondary-color !important;
      }
    }
    &-ghosted {
      background-color: @white;
      color: @secondary-color;
      icon span {
        color: @secondary-color !important;
      }
      &.active {
        color: @white;
        icon span {
          color: @white !important;
        }
        background-color: @secondary-color;
      }
    }
  }
  &-squared {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 45px;
    height: 45px;
    padding: 8px;
  }
}
