@primary-color: #ffe066;
@primary-darker: #c19a00;
@secondary-lighter: #5b7c86;
@secondary-color: #94dcf4;
@secondary-darker: #005673;
@text-color: #3d3d3d;
@default-radius: 15px;
@margin-bottom: 28px;
@margin-bottom-s: 18px;
@margin-bottom-m: 38px;
@margin-bottom-l: 48px;
@margin-bottom-xl: 70px;

@white: #fff;
@red: #e54f4f;
@green: #a2f494;
@blue: #94dcf4;

@weight-semiBold: 600;
@weight-medium: 500;
@weight-normal: 400;
