@primary-color: #FFE066;
@primary-darker: #C19A00;
@secondary-color: #94DCF4;
@secondary-darker: #005673;
@text-color: #3d3d3d;
@default-radius: 15px;
@margin-bottom: 28px;
@margin-bottom-s: 18px;
@margin-bottom-m: 38px;
@margin-bottom-l: 48px;
@margin-bottom-xl: 70px;

@white: #fff;
@red: #E54F4F;
@green: #A2F494;
@blue: #94DCF4;

@weight-semiBold: 600;
@weight-medium: 500;
@weight-normal: 400;
