<div class="suggestionContinue">
  <div class="sideMenu__cta accept">
    <div class="sideMenu__cta__text">
      {{
        "PAGES.STORY.SUGGEST_CONTINUE.ACCEPT.SUGGEST_" +
          randomNumeroBetween1and4 | translate
      }}
    </div>
    <div class="sideMenu__cta__icon">
      <icon name="check" color="white" class="menuIcon" />
    </div>
  </div>
  <div class="sideMenu__cta decline">
    <div class="sideMenu__cta__text">
      {{
        "PAGES.STORY.SUGGEST_CONTINUE.DECLINE.DECLINE_" +
          randomNumeroBetween1and4 | translate
      }}
    </div>
    <div class="sideMenu__cta__icon">
      <icon name="cross" color="white" class="menuIcon" />
    </div>
  </div>
</div>
