<div
  class="bookCard d-flex flex-column"
  [ngStyle]="{
    'background-image': 'url(' + book.cover + ')'
  }"
>
  <div class="bookCard__participation blur-color-{{ book.gender }}">
    <icon name="person" />
    {{ book.nbParticipations }}
  </div>
  <div
    class="bookCard__informations d-flex flex-justify-space-between flex-align-center blur-color-{{
      book.gender
    }}"
  >
    <div class="bookCard__gender">
      <app-book-gender-tag class="d-flex" [gender]="book.gender" />
    </div>
    <div class="bookCard__review">
      <app-stars-review [review]="book.review" />
    </div>
  </div>
</div>
