<div class="sideMenu" [ngClass]="{ leftSide: leftSide }">
  <ng-template [cdkPortalOutlet]="activePortal | async" />
  @if (!(disabledButton|async)?.includes('story')) {
  <div class="sideMenu__cta" [routerLink]="['/story']">
    <div class="sideMenu__cta__icon">
      <icon name="feather" color="white" class="menuIcon" />
    </div>
  </div>
  } @if (!(disabledButton|async)?.includes('profil')) {
  <div class="sideMenu__cta" [routerLink]="['/profile']">
    <div class="sideMenu__cta__icon">
      <icon name="person-stroke" color="white" class="menuIcon" />
    </div>
  </div>
  } @if (!(disabledButton|async)?.includes('setting')) {
  <div class="sideMenu__cta" [routerLink]="['/settings']">
    <div class="sideMenu__cta__icon">
      <icon name="gear" color="white" class="menuIcon" />
    </div>
  </div>
  }
</div>
