<div class="storyInformation">
  <div class="storyInformation__actions">
    <button
      nz-button
      nzShape="circle"
      class="ant-btn-squared ant-btn-secondary-ghosted"
    >
      <div class="d-flex flex-column flex-align-center">
        <icon name="heart" [w]="15" color="secondary" /><span>456</span>
      </div>
    </button>
    <button
      nz-button
      nzShape="circle"
      class="ant-btn-squared ant-btn-secondary-ghosted"
    >
      <icon name="star" [w]="15" color="secondary" />
    </button>
  </div>
  <div class="storyInformation__container {{ 'full-color-' + story.gender }}">
    <div class="storyInformation__container__title alignCenter">
      {{ story.title }}
    </div>
    <div
      class="storyInformation__container__info d-flex flex-justify-space-between flex-align-center"
    >
      <app-stars-rating [rating]="4" />
      <app-book-gender-tag [gender]="story.gender" />
    </div>
  </div>
  <div class="storyInformation__participants">
    <app-story-participants />
  </div>
</div>
